mixin software-card()
  .software-card
    .software-card__inner
      span.software-card__tag Тег карточки
      h2.software-card__heading Заголовок

    p.software-card__description Описание карточки с программным обеспечением

    a(href="#").software-card__btn.btn
      svg(
        width="178",
        height="43",
        viewBox="0 0 178 43",
        fill="none",
        xmlns="http://www.w3.org/2000/svg"
      )
      span.btn__text Подробнее



